:root {
    --grey: #cdcdcd;
    --gold: #e4ba8f;
    --rose: #e49e8c;
    --sage: #a7a376;
    --olive: #324c2f;
    --dark-green: #242b23;
  }

@font-face {
font-family: 'adelia';
src: url(../assets/font/adelia.otf);
}

body{
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;
    color: var(--olive);
}

.wrapper, html, #ablauf{
    overflow-x: hidden !important;
    position: relative;
    width: 100%;
}

h1{
    font-family: 'adelia';
    font-size: 4rem;
    margin-bottom: 5%;
    color: var(--olive);
}

h2{
    font-family: 'Vollkorn', serif;
    font-variant: small-caps;
    font-size: 3rem;
    margin-bottom: 2%;
    color: var(--olive);
}

button{
    background-color: var(--sage);
    border-radius: 30px;
    border: none;
    padding: 3% 8%;
    color: white;
    font-size: 1.7rem;
}

html {
    scroll-padding-top: 35vh;
  }

/* MARGIN */
.margin-top{
    margin-top: 5%;
}
.margin--top{
    margin-top: 10%;
}
.margin-bottom{
    margin-bottom: 5%;
}
.margin--bottom{
    margin-bottom: 10%;
}


/* PADDING */
.padding-top{
    padding-top: 5%;
}
.padding--top{
    padding-top: 10%;
}
.padding-bottom{
    padding-bottom: 5%;
}
.padding-5{
    padding: 5%;
}

.no-padding{
    padding: 0;
}

.scroll-padding-10{
    scroll-padding-top: -10%;
}


/* BACKGROUND */
.white-background{
    background-color: white;
}

.sage-background{
    background-color: var(--sage);
}


/* TEXT */
.small-caps{
    font-variant: small-caps;
}

.bold{
    font-weight: 600;
}

.white{
    color: white;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

a{
    color: var(--rose);
    text-decoration: underline;
}

/* BILDER */
.img-main{
    height: 75vh;
}

.hidden{
    transform: translate(2s);
    display: none !important;
}



/* NAVIGATION */

nav{
height: 7vh;
}
nav a{
    color: var(--dark-green);
    text-decoration: none;
}
nav a:hover{
    color: var(--dark-green);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--gold);
}

.fixed-top {
    z-index: 2;
}

/* HERO */

#hero{
    background-image: url(../assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-deko{
    width: 60%
}

#brautpaar{
    position: relative;
    z-index: 1;
    width: 50%;
    margin-bottom: -10%;
}

/* ABLAUF */

.timeline{
    height: 2px;
    background-color: white;
    position: relative;
}

.circle{
    background-color: white;
    border-radius: 500px;
    width: 20px;
    height: 20px;
}

#ablauf img{
    max-height: 12rem;
}

/* ANFAHRT */


/* GESCHENKE */

#geschenke{
    background-image: url(../assets/img/bg-geschichte.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}


/* FOOTER */
footer{
    color: white;
}

footer a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

footer a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--gold);
}

footer img{
    width: 100%;
    margin-top: -5%;
}


/* MODAL */

.overlayer{
    z-index: 3;
    position: -webkit-fixed;
    position: fixed;
    top: 0;
    background-color: white ;
    color: var(--dark-green);
    height: 100vh;
    width: 100vw;
}
.overlayer h2{
    color: var(--dark-green);
}

.btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-focus-shadow: 0 0 0 0rem rgba(13, 110, 253, 0);
}

@media (max-width:770px ){
    .hide-mobile{
        display: none;
    } 

    #brautpaar{
        margin-bottom: 0%;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 10%;
    }
}

@media (max-width:1200px ){

    h1 {
        font-size: 1.7rem;
        margin-bottom: 10%;
    }
    h2{
        font-size: 2rem;
    }
    body {
        font-size: 1.2rem;
    }

    .margin-bottom-mobile{
        margin-bottom: 10%;
    }
    .margin-top-mobile{
        margin-top: 5%;
    }

    .margin--top-mobile{
        margin-top: 10%;
    }

    .padding--top-mobile{
        padding-top: 10%;    
    }

    .text-center-mobile{
        text-align: center; 
    }

    .hide-mobile{
        display: none;
    } 

    .img-main{
        height: auto;
        width: 80%;
    }

    button {
        font-size: 1rem;
    }

}



@media (min-width:1200px ){
    .hide-dektop{
        display: none;
    }
}