:root {
    --grey: #cdcdcd;
    --gold: #e4ba8f;
    --rose: #e49e8c;
    --sage: #a7a376;
    --olive: #324c2f;
    --dark-green: #242b23;
  }

@font-face {
font-family: 'adelia';
src: url(../assets/font/adelia.otf);
}

body{
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;
    color: var(--olive);
    overflow-x: hidden;
}

h1{
    font-family: 'adelia';
    font-size: 4rem;
    margin-bottom: 5%;
    color: var(--olive);
}

h2{
    font-family: 'Vollkorn', serif;
    font-variant: small-caps;
    font-size: 3rem;
    margin-bottom: 2%;
    color: var(--olive);
}

button{
    background-color: var(--sage);
    border-radius: 30px;
    border: none;
    padding: 3% 8%;
    color: white;
    font-size: 1.7rem;
}

html {
    scroll-padding-top: 35vh;
  }

/* MARGIN */
.margin-top{
    margin-top: 5%;
}
.margin--top{
    margin-top: 10%;
}
.margin-bottom{
    margin-bottom: 5%;
}
.margin--bottom{
    margin-bottom: 10%;
}


/* PADDING */
.padding-top{
    padding-top: 5%;
}
.padding--top{
    padding-top: 10%;
}
.padding-bottom{
    padding-bottom: 5%;
}
.padding-5{
    padding: 5%;
}

.scroll-padding-10{
    scroll-padding-top: -10%;
}


/* BACKGROUND */
.white-background{
    background-color: white;
}

.sage-background{
    background-color: var(--sage);
}


/* TEXT */
.small-caps{
    font-variant: small-caps;
}

.bold{
    font-weight: 600;
}

.white{
    color: white;
}

.text-center{
    text-align: center;
}

/* BILDER */
.img-main{
    height: 75vh;
}



/* NAVIGATION */

nav{
height: 7vh;
}
nav a{
    color: var(--dark-green);
    text-decoration: none;
}
nav a:hover{
    color: var(--dark-green);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--gold);
}

/* HERO */

#hero{
    background-image: url(../assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-deko{
    width: 60%
}

#brautpaar{
    position: relative;
    z-index: 10;
    width: 50%;
    margin-bottom: -10%;
}

/* ABLAUF */

.timeline{
    height: 2px;
    background-color: white;
    position: relative;
    margin-top: -9%;
    width: 76%;
}

.circle{
    background-color: white;
    border-radius: 500px;
    width: 20px;
    height: 20px;
}

#ablauf img{
    max-height: 15rem;
}

/* ANFAHRT */


/* GESCHENKE */

#geschenke{
    background-image: url(../assets/img/bg-geschichte.png);
    height: 100vh;
}


/* FOOTER */
footer{
    color: white;
}

footer a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

footer a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--gold);
}


@media (max-width:700px ){
    .hide-mobile{
        display: none;
    } 

    #brautpaar{
        margin-bottom: 0%;
    }
    .margin-bottom-mobile{
        margin-bottom: 10%;
    }

    .text-center-mobile{
        text-align: center; 
    }

}
