/* =========== TEXT ===========*/

@font-face {
    font-family: 'adelia';
    src: url(../assets/font/adelia.otf);
    }

body{
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;
    color: var(--olive);
}

h1{
    font-family: 'adelia';
    font-size: 4rem;
    margin-bottom: 5%;
    color: var(--olive);
}

h2{
    /* Ich muss mehrfach Schriften angeben damit es funktioniert? da ist was falsch */
    font-family: 'Vollkorn', serif;
    font-variant: small-caps;
    font-size: 3rem;
    margin-bottom: 2%;
    color: var(--olive);
}

a{
    color: var(--rose);
    text-decoration: underline;
}

p, h1, h2, h3, a {
    z-index: 3;
    position: relative;
}


@media (max-width:770px ){
    h1 {
        font-size: 3rem;
        margin-bottom: 10%;
    }
}

@media (max-width:1200px ){

    h1 {
        font-size: 1.7rem;
        margin-bottom: 10%;
    }
    h2{
        font-size: 2rem;
    }
    body {
        font-size: 1.2rem;
    }
    .text-center-mobile{
        text-align: center; 
    }

}